/* File specific */
.nav-trashbin {
	background : #222222;
}
#fileList a.action.action-menu.permanent:hover {
	opacity : 7 !important;
}
#app-navigation li.active {
	background-color : #f18800;
	color : #000;
}
.app-files #controls a.button.new span.icon-add {
	background-image: none;
}
.app-files #controls a.button.new span.icon-add:after {
	content : "Create / Upload";
}
	
