#app-navigation {
	padding-top : 10px;
	background-color : #222222;
	color : #fff;
}

#app-navigation li > a {
	color :#fff;
}

/*
#app-navigation li:hover, #app-navigation li:hover > a {
	background-color : #f1c791;
	color : #000000;
}
*/

#app-navigation li:hover > label {
	color : #fff;
}

#app-settings-content label:hover {
	cursor:default;
}

#app-navigation .new-entity, #app-navigation .subscription-title {
	color : #fff;
	opacity : 0.7;
}


#app-navigation .new-entity:hover {
	color : #fff;
	opacity : 1;
}


/* handle icons on navigaion bar */
#app-navigation .app-navigation-list-item .utils .action span {
    opacity: 0.6;
}

#app-navigation .nav-icon-sharingin, #app-navigation .nav-icon-sharingout, #app-navigation .icon-share {
	background-image : url("../img/actions/share.svg");
}
#app-navigation .icon-close {
	background-image : url("../img/actions/close.svg");
}

#app-navigation .icon-more {
	background-image : url("../img/actions/more.svg");
}
#app-navigation .icon-public,
#app-navigation .nav-icon-sharinglinks {
	background-image : url("../img/actions/public.svg");
}
#app-navigation .icon-download {
	background-image : url("../img/actions/download.svg");
}
#app-navigation .nav-icon-trashbin {
	background-image : url("../img/actions/delete.svg");
}
#app-navigation .nav-icon-favorites {
	background-image : url("../img/actions/star.svg");
}
#app-navigation .nav-icon-files {
	background-image : url("../img/actions/folder.svg");
}
#app-navigation .nav-icon-systemtagsfilter {
	background-image : url("../img/actions/tag.svg");
}

#app-navigation[class*=.icon]:hover {
	opacity : 1;
}

/*
#app-navigation .nav-icon-sharingin:hover,
#app-navigation .nav-icon-sharingout:hover,
#app-navigation .icon-share:hover {
background-image : url("../img/actions/share_black.svg");
}
#app-navigation .icon-close:hover {
	background-image : url("../img/actions/close_black.svg");
}

#app-navigation .icon-more:hover {
	background-image : url("../img/actions/more_black.svg");
}
#app-navigation .nav-icon-sharinglinks:hover,
#app-navigation .icon-public:hover {
	background-image : url("../img/actions/public_black.svg");
}
#app-navigation .icon-download:hover {
	background-image : url("../img/actions/download_black.svg");
}
#app-navigation .nav-icon-trashbin:hover {
	background-image : url("../img/actions/delete_black.svg");
}
#app-navigation .nav-icon-favorites:hover {
	background-image : url("../img/actions/star_black.svg");
}
#app-navigation .nav-icon-files:hover {
	background-image : url("../img/actions/folder_black.svg");
}
#app-navigation .nav-icon-systemtagsfilter:hover {
	background-image : url("../img/actions/tag_black.svg");
}
*/


#app-settings-header button {
	color : #000;
}

#app-settings-content, #app-settings-content a {
	background-color : #222222;
	color : #fff;
}

#app-settings .settings-fieldset .settings-upload {
	transition: all 0.3s ease 0s;
	background-color: #f18800;
    border : 1px solid rgba(240, 240, 240, 0.9);
    color: #fff;
}
#app-settings .settings-fieldset li.settings-fieldset-interior-upload:hover > span {
	background-color : #be6500;
}

#app-sidebar {
	color : #000;
	background-color : #f7f7f7;
	background: linear-gradient(white, #f7f7f7);
}

/*
#app-content {
	padding-top : 50px;
}
*/

#app-navigation {
	padding-top : 38px;
}

.ui-widget-header {
	background : #f18800 none;
	border: 1px solid #f18800;
}

/* Contact specific, contacts app does not seem to load "contacts.css" for apps/contacts/css folder */
.app-contacts .newAddressBookSubmit {
	opacity : 1;
}
.app-contacts .app-content-detail, .app-content-list {
	padding-top : 50px;
	height : unset;
}

	
