

/* header color */
/* this is the main brand color */
#body-user #header,
#body-settings #header,
#body-public #header {
	background-color: #F18800;
}

/* log in screen background color */
/* gradient of the header color and a brighter shade */
/* can also be a flat color or an image */
#body-login {
	background-image : url('../img/OpenProducts_Pattern.png');
	background-color :  #ffffff;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
	border-style : solid;
	border-width : 10px;
	border-color : #F18800;
}
#body-login p.info, #body-login p.info a, #body-login #showAdvanced, #body-login form input[type="checkbox"] + label {
    color: #000;
}
#body-login p.info a:hover, #body-login form input[type="checkbox"] + label:hover {
	color : #888;
}

	

#header .logo {
	background-image : url('../img/logo.svg');
}


#gallery-button {
	display:	none !important;
}
#app-content #controls {
	/* left : 47px;*/
	top : 0px;
}

#searchbox {
	margin-top : 9px;
	margin-right : 290px;
	background-color : #F18800;
	transition: all 0.3s ease 0s;
	opacity : 1;
}

#searchbox:hover {
	background-color : #be6500;
}

#header #owncloud, #header .header-appname-container, #header #settings {
	display: none;
}
	
#body-user #header {
	height : 0px;
}
#content-wrapper {
	padding-top : 0px;
}

select {
    background-color: #fff;
	transition: all 0.3s ease 0s;
	color : #000;

}

input[type="submit"], input[type="button"], button, .button, #quota, .pager li a,
input.primary[type="button"]
{
    background-color: #f18800;
	transition: all 0.3s ease 0s;
	color : #fff;
}

.primary, input.primary[type="submit"], input.primary[type="button"], button.primary, .button.primary {
    background-color: #f18800;
    border : 1px solid rgba(240, 240, 240, 0.9);
    color: #fff;
}

button[ng-click="cancel()"],button[ng-click="cancel()"]:hover {
	background-color : #000;
	color : #fff;
}

.primary:hover, input[type="submit"].primary:hover, input[type="button"].primary:hover, button.primary:hover, .button.primary:hover,
.primary:focus, input[type="submit"].primary:focus, input[type="button"].primary:focus, button.primary:focus, .button.primary:focus, 
input[type="submit"]:hover, input[type="submit"]:focus,
.button a:focus,
input[type="submit"]:hover, input[type="submit"]:focus,
input[type="button"]:hover, input[type="button"]:focus,
button:hover, button:focus,
.button:hover, .button:focus,
.button a:focus
{
	background-color: #be6500;
	color: #fff;
}

div.crumb {
	background : rgba(0, 0, 0, 0) url(../img/breadcrumb.svg) no-repeat scroll right top / auto 30px;
}
#controls .actions {
	padding: 8px;
	height : 30px;
}
#controls .button {
	padding : 2px 5px;
	height : 28px;
}

table tr[data-type="dir"] td.filename a.name span.nametext {
    font-weight: bold;
}

#searchresults tbody tr.selected, #filestable tbody tr.selected {
	background-color: #F18800;
}
#searchresults tbody tr:hover, tbody tr:active, #filestable tbody tr:hover, tbody tr:active {
	background-color : #f1c791;
}

table.multiselect thead {
	left : 5px;
	top : 45px;
}
table.multiselect thead th {
	background-color : #f1c791;
}


span.icon-folder, td[style*="folder.svg"], div[style*="folder.svg"], a[style*="folder.svg"] {
	background-image : url(../img/filetypes/folder.svg) !important;
}
td[style*="folder-shared.svg"], div[style*="folder-shared.svg"], a[style*="folder-shared.svg"] {
	background-image : url(../img/filetypes/folder-shared.svg) !important;
}
td[style*="folder-external.svg"], div[style*="folder-external.svg"], a[style*="folder-external.svg"] {
	background-image : url(../img/filetypes/folder-external.svg) !important;
}
td[style*="folder-public.svg"], div[style*="folder-public.svg"], a[style*="folder-public.svg"] {
	background-image : url(../img/filetypes/folder-public.svg) !important;
}
td[style*="folder-starred.svg"], div[style*="folder-starred.svg"], a[style*="folder-starred.svg"] {
	background-image : url(../img/filetypes/folder-starred.svg) !important;
}

