


/* log in screen background color */
/* gradient of the header color and a brighter shade */
/* can also be a flat color or an image */
#body-login {
	background-image : url('../img/OpenProducts_Pattern.png');
	background-color :  #ffffff;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
	border-style : solid;
	border-width : 10px;
	border-color : #F18800;
	box-sizing : border-box;
}

#body-login p.info a:hover, #body-login form input[type="checkbox"] + label:hover {
	color : #888;
}

	

#header .logo {
	background-image : url('../img/logo.svg');
}

.app_gallery #body-user header {
	/* hide header on gallery page */
	display : none;
}
.app_gallery #body-user #controls {
	top : 0px;
}

.app_gallery #controls .button {
	height : 36px; /* reset button height */
}

.app_gallery #controls span.right {
	margin-right: 250px;
}

.app_gallery #controls .actions {
	padding : 0px;
}
.app_gallery #controls .icon-add {
	padding-left : 10px;
	padding-top : 14px;
}
.app_gallery #controls .right div.button {
	padding-left : 10px;
	padding-top : 7px;
}

.app_gallery #controls .sorting.active-button {
	padding-top : 6px;
}

.app_gallery #controls .sorting.active-button {
	border : 1px solid rgba(241, 136, 0, .9);
	margin-top : 6px;
	height: 34px;
}
#controls #uploadprogressbar .label.inner,
.app-calendar #app-navigation .app-navigation-entry-menu  button:hover,
.app-calendar #app-navigation .app-navigation-entry-menu  button
 {
	color : #000;
}

#slideshow .slideshow-menu, #slideshow input.exit {
	top:25px;
}

#gallery-button {
	display:	none !important;
}

#filelist-button.button {
	display : none;
}

#app-content #controls {
	/* left : 47px;*/
	top : 0px;
}

#searchbox {
	margin-top : 8px;
	margin-right : 220px;
	background-color : #F18800;
	transition: all 0.3s ease 0s;
	opacity : 1;
	height: 28px;
	min-height: 28px;
}

#searchbox:hover {
	background-color : #be6500;
}

#header #nextcloud, #header .header-appname-container, #header #settings {
	//display: none;
}
	
#body-user #header {
	background-color: transparent;
	pointer-events : none;
}
#header .logo-icon
{
	background-image : url('../img/logo-type-white.png') !important;
	width: 80px;
	margin: 0px 20px;

}

#body-user #header .logo-icon
{
	margin: 10px 10px;

}
#body-user #header .header-left {
	width : 250px;
}

#body-user #header .header-right {
	pointer-events: auto;
	align-items: initial;
}


#body-user #header #appmenu
{
	display : none;
}

#content-wrapper {
	padding-top : 0px;
}

#app-content-recent,
#app-content-favorites,
#app-content-trashbin
{
	margin-top : 40px;
}
#fileList tr td.filename
{
	padding-left : 40px;
}

select {
	transition: all 0.3s ease 0s;
}

input[type="submit"], input[type="button"], button, .button, .pager li a,
input.primary[type="button"]
{
    background-color: #f18800;
	transition: all 0.3s ease 0s;
	color : #fff;
}

.primary, input.primary[type="submit"], input.primary[type="button"], button.primary, .button.primary {
    background-color: #f18800;
    border : 1px solid rgba(240, 240, 240, 0.9);
    color: #fff;
}

button[ng-click="cancel()"],button[ng-click="cancel()"]:hover {
	background-color : #000;
	color : #fff;
}

.primary:hover, input[type="submit"].primary:hover, input[type="button"].primary:hover, button.primary:hover, .button.primary:hover,
.primary:focus, input[type="submit"].primary:focus, input[type="button"].primary:focus, button.primary:focus, .button.primary:focus, 
input[type="submit"]:hover, input[type="submit"]:focus,
.button a:focus,
input[type="submit"]:hover, input[type="submit"]:focus,
input[type="button"]:hover, input[type="button"]:focus,
button:hover, button:focus,
.button:hover, .button:focus,
.button a:focus
{
	background-color: #be6500;
	color: #fff;
}

div.crumb {
	background : rgba(0, 0, 0, 0) url(../img/breadcrumb.svg) no-repeat scroll right top / auto 30px;
}
div.crumb.last a, div.crumb:first-child a {
    padding-right: 24px;
}

#controls .actions {
	padding: 8px;
	height : 30px;
}
#controls .button {
	padding-top : 2px;
	padding-bottom : 0px;
	padding-right : 5px;
	padding-left : 5px;
	min-height : 28px;
	height : 28px;
}

table tr[data-type="dir"] td.filename a.name span.nametext {
    font-weight: bold;
}

#searchresults tbody tr.selected, #filestable tbody tr.selected {
	background-color: #F18800;
}
#searchresults tbody tr:hover, tbody tr:active, #filestable tbody tr:hover, tbody tr:active {
	background-color : #f1c791;
}

table.multiselect thead {
	left : 252px;
	top : 45px;
}
table.multiselect thead th {
	background-color : #f1c791;
}


span.icon-folder, td[style*="folder.svg"], div[style*="folder.svg"], a[style*="folder.svg"] {
	background-image : url(../img/filetypes/folder.svg) !important;
}
td[style*="folder-shared.svg"], div[style*="folder-shared.svg"], a[style*="folder-shared.svg"] {
	background-image : url(../img/filetypes/folder-shared.svg) !important;
}
td[style*="folder-external.svg"], div[style*="folder-external.svg"], a[style*="folder-external.svg"] {
	background-image : url(../img/filetypes/folder-external.svg) !important;
}
td[style*="folder-public.svg"], div[style*="folder-public.svg"], a[style*="folder-public.svg"] {
	background-image : url(../img/filetypes/folder-public.svg) !important;
}
td[style*="folder-starred.svg"], div[style*="folder-starred.svg"], a[style*="folder-starred.svg"] {
	background-image : url(../img/filetypes/folder-starred.svg) !important;
}


/*  From "apps.css"  */

#app-navigation {
	padding-top : 60px;
	background-color : #222222;
	color : #fff;
}

#app-navigation li > a {
	color :#fff;
}

#app-navigation li:hover > label {
	color : #fff;
}

#app-settings-content label:hover {
	cursor:default;
}

#app-navigation .new-entity, #app-navigation .subscription-title {
	color : #fff;
	opacity : 0.7;
}


#app-navigation .new-entity:hover {
	color : #fff;
	opacity : 1;
}



/* handle icons on navigaion bar */

#app-navigation  ul > li.selected > a,
#app-navigation  ul > li:hover > a,
#app-navigation  ul > li:focus > a,
#app-navigation #scrollable div.new-entity-container:hover,
#app-navigation #scrollable div.new-entity-container:focus,
#app-navigation #scrollable > ul > li:focus,
#app-navigation #scrollable > ul > li:hover
{
	box-shadow : inset 2px 0 #F18800;
}
#content:not(.app-calendar) #app-navigation ul > li.active
{
	background-color : #F18800;
}

#app-navigation .app-navigation-list-item .utils .action span {
    opacity: 0.6;
}

#app-navigation .nav-icon-sharingin, #app-navigation .nav-icon-sharingout, #app-navigation .icon-share,.app-calendar .icon-shared {
	background-image : url("../img/actions/share.svg");
}
#app-navigation .icon-close {
	background-image : url("../img/actions/close.svg");
}

#app-navigation .icon-more {
	background-image : url("../img/actions/more.svg");
}
#app-navigation .icon-public,
#app-navigation .nav-icon-sharinglinks {
	background-image : url("../img/actions/public.svg");
}
#app-navigation .icon-download {
	background-image : url("../img/actions/download.svg");
}
#app-navigation .icon-mail {
	background-image : url("../img/actions/mail.svg");
}
#app-navigation .nav-icon-trashbin, #app-settings .icon-delete {
	background-image : url("../img/actions/delete.svg");
}
#app-navigation .nav-trashbin, #app-navigation #quota {
	background-color : #222222;
}

#app-navigation .nav-icon-favorites {
	background-image : url("../img/actions/star.svg");
}
#app-navigation .nav-icon-files {
	background-image : url("../img/actions/folder.svg");
}
#app-navigation .nav-icon-systemtagsfilter {
	background-image : url("../img/actions/tag.svg");
}
#app-navigation .nav-icon-recent {
	background-image : url("../img/actions/recent.svg");
}


#app-navigation[class*=.icon]:hover {
	opacity : 1;
}

#app-settings-content, #app-settings-content a {
	background-color : #222222;
	color : #fff;
}

#app-settings-header button, #app-settings-content, #app-settings-content a {
	background-color : #000;
}
#app-settings-header button.settings-button{
	background-image : url("../img/actions/settings.svg");
}


#app-settings .settings-fieldset .settings-upload {
	transition: all 0.3s ease 0s;
	background-color: #f18800;
    border : 1px solid rgba(240, 240, 240, 0.9);
    color: #fff;
}
#app-settings .settings-fieldset li.settings-fieldset-interior-upload:hover > span {
	background-color : #be6500;
}

#app-sidebar {
	background-color : #f7f7f7;
	background: linear-gradient(white, #f7f7f7);
}

.ui-widget-header {
	background : #f18800 none;
	border: 1px solid #f18800;
}

/* settings -> personal */

#body-settings #header,#body-settings #passwordform {
	display : none;
}

#body-settings #displayName {
	disabled : "disabled";
}


.app-calendar #app-navigation #scrollable > ul > li:focus a,
.app-calendar #app-navigation #scrollable > ul > li:hover a,
.app-contacts .newAddressBookSubmit {
	opacity : 1;
}

.app-contacts .app-content-detail, .app-content-list {
	padding-top : 50px;
	height : unset;
}

/* Calendar specific */
#fullcalendar {
	padding-top : 50px;
}

#app-navigation .togglebuttons .button {
	width : 58px;
}

.app-calendar #app-navigation #scrollable {
	top:200px;
}

#app-navigation .datepicker-heading .button,
#app-navigation .togglebuttons .button.focus,
#app-navigation .togglebuttons .button
 {
	background-color: #f18800;
	color: #fff;
	border-color : #fff;
	border : 1px solid #dbdbdb;
}
	
#datepicker table tbody button {
	padding : 6px 7px;
}

#app-navigation .togglebuttons button:hover,
#app-navigation .togglebuttons .button:hover,
#app-navigation .togglebuttons .button.active,
#app-navigation .togglebuttons .button.today:focus,
#app-navigation .datepicker-heading button:hover,
#app-navigation .datepicker-heading button:focus,
#app-navigation #datepicker table tbody button.active {
	background-color : #be6b00;
}

#app-navigation li.active {
	background-color : #222222;
}
#app-navigation .app-navigation-list-item .calendarCheckbox {
	border : 1px solid #ccc;
}

.app-calendar .modal-open .modal.popover, .app-calendar .modal-open .modal.import {
	background-color : #f7f7f7;
}
.app-calendar .modal-open .modal.popover .modal-content {
	padding : 0px;
}

.app-calendar .modal-content form fieldset.events--fieldset {
	padding : 20px;
}

#app-navigation .app-navigation-entry-menu .icon-public {
	background-image : url("../img/actions/public_black.svg");
}
#app-navigation .app-navigation-entry-menu .icon-download {
	background-image : url("../img/actions/download_black.svg");
}
	
