/* import default kinguard theme */
@import url('../../../kgp/core/css/server.css');


body {
	--color-primary-op : #f18800;
	--color-primary: var(--color-primary-op);
	--color-primary-element-light : #f1c791;;
	--color-background-hover : var(--color-primary-element-light);
	--button-backgroundcolor : var(--color-primary-op);
}


#app-navigation, .app-navigation {
	/* --color-primary is redefined in kgp '#app-navigation' */
	--color-primary-light : var(--color-primary-op);	
}

/* log in screen background color */
/* gradient of the header color and a brighter shade */
/* can also be a flat color or an image */
#body-login {
	background-image : url('../img/OpenProducts_Pattern.png');
	border-color : var(--color-primary-op);
}

#controls {
	background-color: rgba(255, 255, 255, 1);
}

#header .logo-icon {
	background-image : url('../img/logo-type-white.png') !important;
	width: 80px;

}
.app_gallery #controls .sorting.active-button {
	border : 1px solid rgba(241, 136, 0, .9);
}


#searchbox,
.searchbox input[type="search"]:focus, .searchbox input[type="search"]:active, .searchbox input[type="search"]:valid
{
	background-color : var(--color-primary-op);
}


input[type="submit"], input[type="button"], button, .button, .pager li a,
input.primary[type="button"]
{
    background-color: var(--color-primary-op);
    opacity: 0.7;
}

.primary, input.primary[type="submit"], input.primary[type="button"], button.primary, .button.primary {
    background-color: var(--color-primary-op);
}


.primary:hover, input[type="submit"].primary:hover, input[type="button"].primary:hover, button.primary:hover, .button.primary:hover,
.primary:focus, input[type="submit"].primary:focus, input[type="button"].primary:focus, button.primary:focus, .button.primary:focus, 
input[type="submit"]:hover, input[type="submit"]:focus,
.button a:focus,
input[type="submit"]:hover, input[type="submit"]:focus,
input[type="button"]:hover, input[type="button"]:focus,
button:hover, button:focus,
.button:hover, .button:focus,
.button a:focus,
#controls .button > span[class*=" icon-"]
{
	background-color : var(--color-primary-op);
	opacity : 1;
}

div.crumb {
	background : rgba(0, 0, 0, 0) url(../img/breadcrumb.svg) no-repeat scroll right top / auto 30px;
}

#controls .button > span[class*=" icon-"] {
	opacity : 0.7;
}
#searchresults tbody tr.selected, #filestable tbody tr.selected {
	background-color: #edba78;
}


#searchresults tbody tr:hover, tbody tr:active, #filestable tbody tr:hover, tbody tr:active {
	background-color : var(--color-primary-element-light);
}

table.multiselect thead th {
	background-color : var(--color-primary-element-light);
}


#app-navigation > ul > li.selected > a,
#app-navigation > ul > li a.selected,
#app-navigation > ul > li a.selected > a,
#app-navigation > ul > li:hover > a,
#app-navigation > ul > li:hover,
#app-navigation > ul > li:focus > a,
#app-navigation > ul > li:focus,
#app-navigation #scrollable div.new-entity-container:hover,
#app-navigation #scrollable div.new-entity-container:focus,
#app-navigation #scrollable > ul > li:focus,
#app-navigation #scrollable > ul > li:hover
 
{
	box-shadow : inset 2px 0 #be6500;
}
#app-navigation > ul > li.active,
#app-navigation > ul > li.active > a,
{
	box-shadow : inset 2px 0 var(--color-primary-op);
}

#content:not(.app-calendar) #app-navigation ul > li.active,
#content:not(.app-calendar)  #app-navigation ul > li.active > a
{
	background-color : var(--color-primary-op);
	color : #fff;
}


#app-navigation .datepicker-heading .button,
#app-navigation .togglebuttons .button
 {
	color: #fff;
	border-color : #fff;
	border : 1px solid #fff;
	background-color : var(--color-primary-op);
}


#app-settings .settings-fieldset .settings-upload {
	background-color: var(--color-primary-op);
}
#app-settings .settings-fieldset li.settings-fieldset-interior-upload:hover > span {
	background-color : #be6500;
}

.ui-widget-header {
	background : var(--color-primary-op) none;
	border: 1px solid var(--color-primary-op);
}

.select2-results .select2-highlighted {
	background-color : #f8eae3;
	color : #000;
}

.ui-select-choices-row:hover {
	background-color : var(--color-primary-op);
	color : #fff;	
}

.app-tasks div.percentdone {
	background-color: var(--color-primary-op) !important;
}

#app-navigation .datepicker-heading .button,
#app-navigation .togglebuttons .button.focus,
#app-navigation .togglebuttons .button
 {
	background-color: var(--color-primary-op);
}
#app-navigation .app-navigation-list-item .dropdown-menu li.active {
	background-color: var(--color-primary-op) !important;
}

#app-navigation #quota .quota-container div {
	background-color: var(--color-primary-op);
}

