@CHARSET "UTF-8";
#filestable tbody tr:hover, tbody tr:active {
	background-color : #f1c791;
}
#fileList tr[data-type="dir"] td.filename {
	background-image : url(../../../core/img/folder.png) !important;
}

#controls #new li[data-type="folder"] {
	background-image : url(../../../core/img/folder.png) !important;
}
#filestable tbody tr.selected {
	background-color: #F18700;
}
#slideshow .exit {
	top: 30px;
}
