Source: opi-themes
Section: devel
Priority: optional
Maintainer: PA Nilsson <pa@openproducts.se>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: opi-themes
Architecture: all
Depends: ${misc:Depends},
 nextcloud,
 roundcubemail,
 kinguard-utils (>= 1.13)
Conflicts: 
Description: OPI Themes
 Provieds themes for roundcube and nextcloud web applications
