Source: opi-theme
Section: devel
Priority: optional
Maintainer: PA Nilsson <pa@openproducts.se>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: opi-theme
Architecture: all
Depends: 
Conflicts: 
Description: OPI access
 Provieds OPI themes for roundcube and owncloud
