/* Calendar specific */
#fullcalendar {
	padding-top : 50px;
}

.app-calendar #app-navigation .togglebuttons .button {
	width : 58px;
	color : #555;
}

.app-calendar #app-navigation .datepicker-heading .btn-date, .app-calendar #app-navigation .togglebuttons .button.active {
	background-color: #f18700;
    color: #ffffff;
}
	
.app-calendar #datepicker table tbody button {
	padding : 6px 7px;
	color : #fff;
}
.app-calendar #app-navigation .togglebuttons .button.today:focus, .app-calendar #datepicker table tbody button.active {
	background-color : #f1c791;
	color : #000;
}

.app-calendar #app-navigation li.active {
	background-color : #222222;
	color : #fff;
}
#app-navigation .app-navigation-list-item .calendarCheckbox {
	border : 1px solid #ccc;
}
#app-navigation .app-navigation-list-item:hover .calendarCheckbox {
	border : 1px solid #fff;
}


.app-calendar .modal-open .modal.popover, .app-calendar .modal-open .modal.import {
	background-color : #f7f7f7;
}
.app-calendar .modal-open .modal.popover .modal-content {
	padding : 0px;
}

.app-calendar .modal-content form fieldset.events--fieldset {
	padding : 20px;
}
.app-calendar .modal-content form fieldset:first-child {
	background-color : #fff;
}

#app-navigation .app-navigation-entry-menu button {
	color : #000;
}
#app-navigation .app-navigation-entry-menu .icon-public {
	background-image : url("../img/actions/public_black.svg");
}
#app-navigation .app-navigation-entry-menu .icon-download {
	background-image : url("../img/actions/download_black.svg");
}

