@CHARSET "UTF-8";
#mainscreen, #mainscreen.offset {
	top : 54px;
}
#taskbar {
	margin-right : 235px;
}
#taskbar a.button-selected{
	background-color : transparent;
	color : #f18700;
}
#topline, #taskbar .minmodetoggle, #toplogo {
	display : none;
}
#topnav {
	height : 43px;
}
.minimal #topnav {
	top : 0px;
}
.listbox .listitem a, .listbox .tablink a, .listing tbody td, .listing li a {
	text-shadow : none;
}
.listbox .listitem.selected, .listbox .tablink.selected, .listbox .listitem.selected>a, .listbox .tablink.selected>a, .listing tbody tr.unfocused td, .listing tbody tr.selected td, .listing li.selected, .listing li.selected>a {
	background-color : #f18700;
	color : #000;
}
.listbox, .listbox .boxfooter, .boxfooter .listbutton, #composequicksearch, ul.listing li, ul.listing li a {
	background-color : #f1c791;
	background : #f1c791;
	color : #000;
}
.listbox .listitem a, .listbox .tablink a, .listing tbody td, .listing li a {
	background-color : #f1c791;
	background : #f1c791;
	color : #000;
}
.boxfooter .listbutton {
	border-right : 1px solid #000;
}
.listbox .boxfooter {
	border-top : 1px solid #000;
	box-shadow : inset 0 1px 0 0 #666;
}
 .listbox .listitem, .listbox .tablink, .listing tbody td, .listing li {
 	border-bottom : 1px solid #000;
 	border-top : 1px solid #000;
}
.records-table thead td {
	background 	 : #f1c791;
}
.records-table thead td a, .records-table thead td span {
	color : #000;
}
#messagelistcontainer {
	background: url(images/OP_Pattern.png) center no-repeat #FFF;
	background-position : left bottom;
}
.uibox .boxtitle, .uibox .listing thead td {
	background : #f18700;
	color : #000;
	text-shadow : none;
}
#compose-contacts #directorylist {
	border-bottom:4px solid #f1c791;
}
#compose-contacts .scroller {
	border-top : 1px solid #f1c791;
}
.boxtitle, .uibox .listing thead td {
	border-bottom : 1px solid #000;
}
