@CHARSET "UTF-8";
input.button.mainaction {
    background: #f18800;
	color : #fff;
	border-color: #f18800;
}
input.button.mainaction:hover {
	background: #be6b00;
	border-color:  : #be6b00;
}

.listing tbody td a,a,a:visited {
	color : #000;
}
#taskbar a.button-selected{
	background-color : transparent;
	color : #f18800;
}
.dropbutton .dropbuttontip:focus, .toolbar a.button:focus {
	background-color : rgba(241, 135, 0, 0.58);
}
a.button:focus, input.button:focus {
	box-shadow : 0 0 2px 1px rgba(101, 94, 86, 0.58);
}
.toolbar a.button:hover {
	background-color : rgba(241, 199, 145, 0.36);
	box-shadow : 0 0 2px 1px rgba(101, 94, 86, 0.58);
}

ul.treelist li a:focus, ul.listing .listitem a:focus, ul.listing .listitem span:focus, ul.listing.focus .listitem.focused span,
.listbox .listitem.selected, .listbox .tablink.selected, .listbox .listitem.selected>a, .listbox .tablink.selected>a, .listing tbody tr.unfocused td, .listing tbody tr.selected td, .listing li.selected, .listing li.selected>a {
	background-color : #f18800;
	color : #000;
}
.listbox, .listbox .boxfooter, .boxfooter .listbutton, #composequicksearch, ul.listing li, ul.listing li a {
	background-color : #f1c791;
	background : #f1c791;
	color : #000;
}
.listbox .listitem a, .listbox .tablink a, .listing tbody td, .listing li a {
	background-color : #f1c791;
	background : #f1c791;
	color : #000;
}
.records-table tbody tr:hover {
	background-color: #f5e0c5;
}
.records-table tbody tr:hover td {
	background-color: transparent;
}

#contacts-table td span.email {
	color : #8a673b;
}

.boxfooter .listbutton {
	border-right : 1px solid #000;
}
.listbox .boxfooter {
	border-top : 1px solid #000;
	box-shadow : inset 0 1px 0 0 #666;
}
.boxfooter .listbutton {
	background-color : #f18800;
	color : #fff;
}

.boxfooter .listbutton:not(.disabled):hover {
	background-color : #be6b00;
}

.listbox .listitem, .listbox .tablink, .listing tbody td, .listing li {
 	border-bottom : 1px solid #000;
 	border-top : 1px solid #000;
}
.records-table thead td {
	background 	 : #f1c791;
}
.records-table thead td a, .records-table thead td span {
	color : #000;
}
.records-table.focus tr.selected td,
.records-table tr.selected td {
	background-color: #f18800 !important;
	color : #000;
}
#messagelistcontainer {
	background: url(images/OP_Pattern.png) center no-repeat #FFF;
	background-position : left bottom;
}
.uibox .boxtitle, .uibox .listing thead td {
	background : #f18800;
	color : #000;
}
#compose-contacts .listsearchbox {
	background : #f1ad56;
}
#compose-contacts #directorylist {
	border-bottom:4px solid #f1c791;
}
#compose-contacts .scroller {
	border-top : 1px solid #f1c791;
}
.boxtitle, .uibox .listing thead td {
	border-bottom : 1px solid #000;
}
#taskbar a span.button-inner {
	background: url(images/buttons.png) -1000px 0 no-repeat;
}
#login-form .box-inner {
	background : url(images/OP_Pattern.png) center no-repeat #FFF;
	border : 1px solid #f18800;
}
#login-form td.title {
	color : #000;
}
#login-form input.button {
	color : #FFF;
	background : #f18800;
}
#login-form input.button:hover {
	color : #FFF;
	background: #be6b00;
	border-color: #be6b00;
}	

.records-table thead th a, .records-table thead td a, .records-table thead th span, .records-table thead td span {	
	color : #000;
}

.records-table thead th, .records-table thead td {
	background : #f1c791;
}

.googie_list td.googie_list_onhover, ul.toolbarmenu li a.active:hover, ul.toolbarmenu li a.active:focus, #rcmKSearchpane ul li.selected, #pagejump-selector ul li.selected, select.decorated option:hover, select.decorated option[selected='selected']
{
	background-color : #f18800;
}