$orange: #f18800;
$green: #009f6e;
$blue: #1414ff;
//== Tables
$white: white;
$gray:  #999;
$black: black;


/*** LAYOUT SPECIFICS ***/

.color-green { color: $green; }

.form-group {
  &.disabled {
    .form-control { color: $gray; }
  }
}


#loading { 
  #loading-text { background: $orange;  }
}

#login-bg { z-index: 1; background: url(../img/bg-pattern.gif) no-repeat left bottom; background-size: cover; border: 10px solid $orange; }

#login { 
  background: $white;
  .login-logo { display: none; }
}

a { color : $orange;
  &:focus,&:hover { color : darken($orange,10%); }
 }
.btn-primary {
  background-color : $orange;
  color : $white;
  border-color: $orange;
}
.btn-default {
  background-color : lighten($black, 10%);
  color : $white;
  border-color: lighten($black, 5%);;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary:active:hover {
  background-color : darken($orange,10%);
  border-color: darken($orange,5%);
}
.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default:active:hover {
  background-color : $black;
  color : $white;
  border-color: $black;
}

#panel { background: $black; overflow: auto;
  h1 { 
    span { 
      &.logo { 
        img { width: 112px; height: auto; }
      }
    }
  }
  nav { margin-top: 36px;
    a { 
      &:hover { opacity: 1; box-shadow: inset 2px 0 $orange; }
    }
    .active a { background: $orange; color : $white; box-shadow: inset 2px 0 $orange; }
  }
}

nav {
  .home.active    i { background-image: url(../img/icons/menu/home.png);    }
  .me.active      i { background-image: url(../img/icons/menu/profile.png); }
  .users.active   i { background-image: url(../img/icons/menu/users.png);   }
  .mail.active    i { background-image: url(../img/icons/menu/mail.png);    }
  .network.active i { background-image: url(../img/icons/menu/network.png); }
  .backup.active  i { background-image: url(../img/icons/menu/backup.png);  }
  .system.active  i { background-image: url(../img/icons/menu/system.png);  }
  .logout.active  i { background-image: url(../img/icons/menu/logout.png);  }
  .shutdown.active i { background-image: url(../img/icons/menu/shutdown.png); }
  .help.active i { background-image: url(../img/icons/menu/help.png); }
}
div.progress-bar { background-color: $orange; }
