/* calendar specific styles */

#app-navigation .togglebuttons button:hover,
#app-navigation .togglebuttons button:focus,
#app-navigation .datepicker-heading button:hover,
#app-navigation .datepicker-heading button:focus,
#app-navigation #datepicker table tbody button.active
{
	background-color : #be6b00;
}
#app-navigation .togglebuttons .button.active,
#app-navigation #datepicker table tbody button.active {
	background-color : #be6b00;
	color : #000;
}

#app-navigation #datepicker table tbody button {
	font-weight: bold;
	opacity: 0.8;
}

#app-navigation #datepicker table tbody button:hover {
	opacity: 1;
	color : #e0a385;
}


input[type="checkbox"].checkbox:checked + label::before
{
	background-image : url('../../../../core/img/actions/checkmark.svg');
	background-color: transparent;
}

input[type="submit"], input[type="button"], button, .button, .pager li a,
input.primary[type="button"]
{
    opacity: 1;
}
