@CHARSET "UTF-8";
#contactsHeader,#contactsHeader td.actions {
	top : 0px;
	height : 43px;
	padding-top:10px;
}
#contactsHeader td.actions {
	margin-right : 235px;
}
#app-navigation,#app-content {
	padding-top : 43px;
}

#app-navigation li:hover a, #app-settings-content li:hover {
	background-color : #f1c791;
	color : #000000;
}

#app-navigation .active a{
	background-color : #F18700;
	color:#FFFFFF;
}

#app-navigation, #app-navigation ul li,#app-navigation ul li a {
	background-color : #272727;
	color:#FFFFFF;
}
button.primary {
	background : #F18700;
}
#app-settings-content {
	background-color : #272727;
}
#content #app-settings-content input[type=checkbox] {
	vertical-align : text-bottom;
	padding : 3px;
	height : 16px;
	width : 16px;
}
#app-settings-content .import-upload,#app-settings-content .import-status {
    height: 40px;
}

#content #app-settings-content h2 {
	margin-bottom : 10px;
}

#content #app-settings-content a.share {
	background-image: url('../../../core/img/actions/share_white.svg');
}
#content #app-settings-content li:hover a.share {
	background-image: url('/oc/core/img/actions/share.svg');
}
#content #app-settings-content a.delete {
	background-image: url('../../../core/img/actions/delete_white.svg');
}
#content #app-settings-content li:hover a.delete {
	background-image: url('/oc/core/img/actions/delete.svg');
}
#content #app-settings-content a.download {
	background-image: url('../../../core/img/actions/download_white.svg');
}
#content #app-settings-content li:hover a.download {
	background-image: url('/oc/core/img/actions/download.svg');
}
#content #app-settings-content a.globe {
	background-image: url('../../../core/img/actions/public_white.svg');
}
#content #app-settings-content li:hover a.globe {
	background-image: url('/oc/core/img/actions/public.svg');
}
#content #app-settings-content a.edit {
	background-image: url('../../../core/img/actions/rename_white.svg');
}
#content #app-settings-content li:hover a.edit {
	background-image: url('/oc/core/img/actions/rename.svg');
}